/* index page */
.body {
    background: url("/images/home.jpg");
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(182, 115, 27);
}

.active {
    background-color: rgb(233, 173, 105);
}

.heading {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 95px;
    margin-top: 300px;
    color: aliceblue;
}

.nav {
    margin-top: 94px;
    font-family: 'Caveat', cursive;
    font-size: 59px;
}

.heading2 {
    margin-top: 70px;
    text-align: center;
    font-size: 60px;
    font-family: 'Old Standard TT', serif;
    color: aliceblue;
}

/* about us */
.jumbotron {
    background-color: rgba(158, 228, 222, 0.904);
    font-family: 'Raleway', sans-serif;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 270px;
}
/* code for women men and kids pics */
.women {
    background: url('images/women.jpg');
    background-size: 7000px;
}

.head {
    font-family: Poiret One;
    font-size: 250px;
}

img {
    width: 500px;
    height: 850px;
    margin-right: 100px;
}

.container {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

img:hover {
    transform: scale(1.2);
    transition: all 1s ease-out;
    filter: brightness(.7);
}

.th {
    margin-top: 100px;
    margin-bottom: 150px;
    font-family: 'Caveat', cursive;
    font-size: 68px;
}

.kids {
    background: url('images/kids.jpeg');
    background-size: 7000px;
}
/* code for feedback.html */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(211, 203, 94);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #c0a14c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

/* Add some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    color: #ffffff;
}
.men{
    background: url('images/men.jpg');
    background-size: 7000px;
}
.about{
    background: url('images/about.jpeg');
    background-size: cover;
}
.feedback{
    background: url('images/feedback.jpeg');
    background-size: 7000px;

}