/* index page */
.body {
    background: url("/images/home.jpg");
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(182, 115, 27);
}

.active {
    background-color: rgb(233, 173, 105);
}

.heading {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 95px;
    margin-top: 300px;
    color: aliceblue;
}

.nav{
    margin-top: 94px;
    font-family: 'Caveat', cursive;
    font-size: 59px;
}

.heading2 {
    margin-top: 70px;
    text-align: center;
    font-size: 60px;
    font-family: 'Old Standard TT', serif;
    color: aliceblue;
}
/* about us */
.jumbotron{
    background-color: rgba(231, 154, 53, 0.904);
    font-family: 'Raleway', sans-serif;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 270px;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Instagram */
  .fa-instagram {
    background: rgb(170, 136, 44);
    color: rgb(236, 200, 159);
  }
  /* phone */
  .fa-phone {
    background: rgb(170, 136, 44);
    color: rgb(236, 200, 159);
  }
  .socialmedia{
      text-align: center;
      color: aliceblue;
      font-family: 'Raleway', sans-serif;;
  }
  .women{
      background: url('/images/women.jpg');
      background-size: 7000px;
  }
  .head{
    font-family: Poiret One;
    font-size: 250px;
  }
  img{
      width: 500px;
      height: 800px;
      margin-right: 100px;
  }
.container{
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}
img:hover{
    transform: scale(1.2);
    transition: all 1s ease-out;
    filter: brightness(.7);
}
.th{
    margin-top: 100px;
    margin-bottom: 150px;
}